@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:wght@100;300;400;900&display=swap");

:root {
  --title-color: #00d4ff;
  --contrast-color: #ffdf62;
  --text-color: #fffeff;
  --link-color: rgba(255, 254, 255, 0.5);
  --bg-color: #31353e;
  --bg-color-dark: #1b1d22;
}

html,
body {
  background: var(--bg-color);
  color: var(--text-color);
  font-size: 12px;
  font-weight: 400;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

h1 {
  border: 1px dotted var(--text-color);
  border-inline: 0;
  font-weight: 100;
  letter-spacing: 2vw;
  line-height: 2em;
  font-size: 1em;
  align-self: flex-start;
}

h2 {
  letter-spacing: 2vw;
  font-size: 2em;
}

h3 {
  letter-spacing: 1.75vw;
  font-size: 1.5em;
}

h4,
.contrast-title {
  color: var(--contrast-color);
  font-size: 0.8em;
  font-weight: 400;
  line-height: 3em;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.4vw;
}

@media screen and (min-width: 800px) {
  h1 {
    letter-spacing: 1.3em;
  }
  h2 {
    letter-spacing: 0.8em;
  }
  h3 {
    letter-spacing: 0.9em;
  }
  h4 {
    letter-spacing: 0.5em;
  }
}

.headline {
  font-family: "Bebas Neue", cursive;
  line-height: 0;
}

h2 span,
h3 span,
h4 span,
h6 span {
  margin: 0.25em;
}

h2 span:nth-child(odd) {
  color: var(--title-color);
}

h2 span:nth-child(even) {
  color: var(--text-color);
}

h3 span:nth-child(odd) {
  color: var(--text-color);
}

h3 span:nth-child(even) {
  color: var(--title-color);
}

h5 {
  width: 100%;
  text-align: center;
  border-bottom: 0.15em dotted var(--text-color);
  line-height: 0;
  margin: 0 auto;
  font-size: 1.2em;
}

h5 span {
  padding: 0 1em;
  background: var(--bg-color);
  color: var(--title-color);
  text-transform: uppercase;
}

h6 {
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 0 0;
  font-weight: 200;
}

h6 span {
  text-transform: uppercase;
}

h6.title {
  font-size: 0.8em;
  /* font-style: italic; */
  text-transform: uppercase;
}

h6 span.period {
  color: var(--link-color);
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

header {
  height: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
  margin: 0;
}

nav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--bg-color-dark);
  border-right: 0.75em solid var(--contrast-color);
  overflow-x: hidden;
  padding-top: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 2em;
}

nav.open {
  width: 19em;
  transition: 0.3s;
}

nav.closed {
  transform: translateX(-17em);
  transition: 0.25s;
}

a {
  padding: 0.5em 0;
  text-decoration: none;
  font-size: 1.5em;
  color: var(--link-color);
  display: block;
  transition: 0.2s;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

a.selected {
  color: var(--text-color);
}

a:hover {
  color: var(--contrast-color);
}

#menu-open,
#menu-close,
#download {
  width: 5vw;
  cursor: pointer;
}

#menu-open span,
#menu-close span {
  z-index: 0;
}

#menu-open:hover,
#menu-close:hover,
#download:hover {
  color: var(--contrast-color);
}

#menu-close {
  position: absolute;
  top: 0.4em;
  left: 0.8em;
  font-size: 2em;
}

.content-container {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  padding: 2em 12vw;
}

.back-and-forth {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.back-and-forth span:hover {
  color: var(--text-color);
  font-weight: 900;
}

p {
  padding: 0 10vw;
  text-align: justify;
}

p.contact {
  text-align: center;
}

.education,
.work {
  padding: 1em;
  border-bottom: 1px dotted var(--text-color);
  margin-bottom: 1em;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: wrap;
}

li {
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 2em;
  background: var(--link-color);
}

.skills p,
.hobbies p,
.personality p,
.education p {
  text-align: center;
}

.temperaments {
  display: flex;
  flex-direction: column;
}

.temperament {
  margin: 1em 0;
}

.bar {
  width: 100%;
  height: 1em;
  background-color: var(--link-color);
  border-radius: 0.5em;
}


.fill {
  background-color: var(--title-color);
  border-radius: 0.5em;
  height: 0.9em;
}

a.social {
  padding: 0.5em 0;
  font-size: 1em;
  color: var(--text-color);
  transition: 0.2s;
  font-weight: 200;
  cursor: pointer;
  text-transform: none;
  text-align: center;
}

a.social:hover {
  color: var(--contrast-color);
}
